<ngx-govuk-button>Hello world</ngx-govuk-button>

<ngx-govuk-button-group>
  <ngx-govuk-button>Submit</ngx-govuk-button>
  <ngx-govuk-button color="secondary">Cancel</ngx-govuk-button>
</ngx-govuk-button-group>

<ngx-govuk-cookie-banner appName="Test App" />

<ngx-govuk-details summary="I expand">Hello there!</ngx-govuk-details>

<ngx-govuk-inset-text>I am inset text</ngx-govuk-inset-text>

<ngx-govuk-notification-banner title="Notification title"
  >Notification content</ngx-govuk-notification-banner
>

<ngx-govuk-panel title="Panel title">Panel content</ngx-govuk-panel>

<ngx-govuk-tag color="green">Completed</ngx-govuk-tag>

<ngx-govuk-warning-text>This is a warning</ngx-govuk-warning-text>

<ngx-govuk-tabs title="Contents">
  <ngx-govuk-tab id="tab-one" title="Tab One"> Tab One Content </ngx-govuk-tab>
  <ngx-govuk-tab id="tab-two" title="Tab Two"> Tab Two Content </ngx-govuk-tab>
  <ngx-govuk-tab id="tab-three" title="Tab Three">
    Tab Three Content
  </ngx-govuk-tab>
</ngx-govuk-tabs>

<ngx-govuk-table
  caption="Employee Information"
  [dataSource]="dataSource"
  [columns]="columns"
></ngx-govuk-table>
