<ngx-govuk-button>Hello world</ngx-govuk-button>

<ngx-govuk-button-group>
  <ngx-govuk-button>Submit</ngx-govuk-button>
  <ngx-govuk-button color="secondary">Cancel</ngx-govuk-button>
</ngx-govuk-button-group>

<ngx-govuk-cookie-banner appName="Test App" />

<ngx-govuk-details summary="I expand">Hello there!</ngx-govuk-details>

<ngx-govuk-inset-text>I am inset text</ngx-govuk-inset-text>

<ngx-govuk-notification-banner title="Notification title"
  >Notification content</ngx-govuk-notification-banner
>

<ngx-govuk-panel title="Panel title">Panel content</ngx-govuk-panel>

<ngx-govuk-tag color="green">Completed</ngx-govuk-tag>

<ngx-govuk-warning-text>This is a warning</ngx-govuk-warning-text>

<ngx-govuk-tabs title="Contents">
  <ngx-govuk-tab id="tab-one" title="Tab One"> Tab One Content </ngx-govuk-tab>
  <ngx-govuk-tab id="tab-two" title="Tab Two"> Tab Two Content </ngx-govuk-tab>
  <ngx-govuk-tab id="tab-three" title="Tab Three">
    Tab Three Content
  </ngx-govuk-tab>
</ngx-govuk-tabs>

<ngx-govuk-table
  caption="Employee Information"
  [dataSource]="dataSource"
  [columns]="columns"
></ngx-govuk-table>

<div class="govuk-frontend-supported">
  <h2 class="govuk-heading-l">Accordion With Summary</h2>
  <ngx-govuk-accordion id="accordion-with-summary">
    <ngx-govuk-accordion-item
      itemId="1"
      heading="Understanding agile project management"
      summary="Introductions, methods, core features."
    >
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#"
            >Agile and government services: an introduction</a
          >
        </li>
        <li>
          <a class="govuk-link" href="#">Agile methods: an introduction</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Core principles of agile</a>
        </li>
      </ul>
    </ngx-govuk-accordion-item>
    <ngx-govuk-accordion-item
      itemId="2"
      heading="Working with agile methods"
      summary="Workspaces, tools and techniques, user stories, planning."
    >
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#"
            >Creating an agile working environment</a
          >
        </li>
        <li>
          <a class="govuk-link" href="#">Agile tools and techniques</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Set up a team wall</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Writing user stories</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Planning in agile</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Deciding on priorities</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Developing a roadmap</a>
        </li>
      </ul>
    </ngx-govuk-accordion-item>
  </ngx-govuk-accordion>
</div>

<!-- Pagination Examples -->
<div class="govuk-frontend-supported">
  <h2 class="govuk-heading-l">Pagination Examples</h2>

  <h3 class="govuk-heading-m">Dynamic Pagination</h3>
  <p>Current page: {{ currentPage }}</p>
  <ngx-govuk-pagination
    [itemCount]="totalItems"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
    (previousClick)="onPreviousClick()"
    (nextClick)="onNextClick()"
  ></ngx-govuk-pagination>

  <h3 class="govuk-heading-m">Pagination with Custom Labels</h3>
  <ngx-govuk-pagination
    [itemCount]="30"
    [itemsPerPage]="10"
    [currentPage]="2"
    previousTitle="Previous step"
    nextTitle="Next step"
    (previousClick)="onPreviousClick()"
    (nextClick)="onNextClick()"
  ></ngx-govuk-pagination>

  <h3 class="govuk-heading-m">Block Mode Pagination</h3>
  <ngx-govuk-pagination
    [itemCount]="totalItems"
    [itemsPerPage]="1"
    [currentPage]="currentPage"
    mode="block"
    previousLabel="Application details"
    nextLabel="Check your answers"
    (previousClick)="onPreviousClick()"
    (nextClick)="onNextClick()"
  ></ngx-govuk-pagination>
</div>
