<div class="govuk-frontend-supported">
  <ngx-govuk-header logoLink="" />

  <ngx-govuk-service-navigation>
    <ngx-govuk-service-navigaiton-item label="Home" link="/" />
    <ngx-govuk-service-navigaiton-item label="Forms" link="/forms" />
  </ngx-govuk-service-navigation>

  <ngx-govuk-phase-banner
    >This service is in beta, please let us know if its
    broken</ngx-govuk-phase-banner
  >

  <ngx-govuk-breadcrumbs>
    <ngx-govuk-breadcrumb label="Home" link="/" />
    <ngx-govuk-breadcrumb label="Forms" link="/forms" />
  </ngx-govuk-breadcrumbs>

  <ngx-govuk-skip-link href="#main-content"
    >Skip to main content</ngx-govuk-skip-link
  >

  <main id="main-content" class="govuk-main-wrapper">
    <router-outlet></router-outlet>
  </main>

  <ngx-govuk-footer>
    <ngx-govuk-footer-navigation>
      <ngx-govuk-footer-navigation-section
        title="Services and information"
        width="two-thirds"
        [columns]="2"
      >
        <ngx-govuk-footer-navigation-item [routerLink]="['/benefits']"
          >Benefits</ngx-govuk-footer-navigation-item
        >
        <ngx-govuk-footer-navigation-item href="/births-deaths-marriages"
          >Births, deaths, marriages and care</ngx-govuk-footer-navigation-item
        >
        <ngx-govuk-footer-navigation-item href="/business"
          >Business and self-employed</ngx-govuk-footer-navigation-item
        >
        <ngx-govuk-footer-navigation-item href="/childcare-parenting"
          >Childcare and parenting</ngx-govuk-footer-navigation-item
        >
        <ngx-govuk-footer-navigation-item href="/citizenship"
          >Citizenship and living in the UK</ngx-govuk-footer-navigation-item
        >
        <ngx-govuk-footer-navigation-item href="/crime"
          >Crime, justice and the law</ngx-govuk-footer-navigation-item
        >
        <ngx-govuk-footer-navigation-item href="/disabled"
          >Disabled people</ngx-govuk-footer-navigation-item
        >
        <ngx-govuk-footer-navigation-item href="/driving"
          >Driving and transport</ngx-govuk-footer-navigation-item
        >
      </ngx-govuk-footer-navigation-section>
      <ngx-govuk-footer-navigation-section
        title="Government departments"
        width="one-third"
      >
        <ngx-govuk-footer-navigation-item href="/how-government-works"
          >How government works</ngx-govuk-footer-navigation-item
        >
        <ngx-govuk-footer-navigation-item href="/departments"
          >Departments</ngx-govuk-footer-navigation-item
        >
        <ngx-govuk-footer-navigation-item href="/worldwide"
          >Worldwide</ngx-govuk-footer-navigation-item
        >
        <ngx-govuk-footer-navigation-item href="/policies"
          >Policies</ngx-govuk-footer-navigation-item
        >
      </ngx-govuk-footer-navigation-section>
    </ngx-govuk-footer-navigation>
    <ngx-govuk-footer-links>
      <ngx-govuk-footer-link href="https://www.gov.uk"
        >GOV.UK</ngx-govuk-footer-link
      >
      <ngx-govuk-footer-link routerLink="/forms">Forms</ngx-govuk-footer-link>
      <ngx-govuk-footer-link href="https://design-system.service.gov.uk"
        >Design System</ngx-govuk-footer-link
      >
      <ngx-govuk-footer-link href="https://www.gov.wales" lang="cy"
        >Cymraeg</ngx-govuk-footer-link
      >
    </ngx-govuk-footer-links>
    <ngx-govuk-footer-meta>
      Built with
      <a href="https://angular.dev" class="govuk-footer__link">Angular</a>
    </ngx-govuk-footer-meta>
  </ngx-govuk-footer>
</div>
