<ngx-govuk-phase-banner>This service is in beta, please let us know if its broken</ngx-govuk-phase-banner>
<ngx-govuk-header logoLink="" />

<div>
  <ngx-govuk-back-link></ngx-govuk-back-link>
</div>


<ngx-govuk-button>Hello world</ngx-govuk-button>

<ngx-govuk-button-group>
  <ngx-govuk-button>Submit</ngx-govuk-button>
  <ngx-govuk-button color="secondary">Cancel</ngx-govuk-button>
</ngx-govuk-button-group>

<ngx-govuk-cookie-banner appName="Test App" />

<ngx-govuk-details summary="I expand">Hello there!</ngx-govuk-details>

<ngx-govuk-inset-text>I am inset text</ngx-govuk-inset-text>

<ngx-govuk-notification-banner title="Notification title">Notification content</ngx-govuk-notification-banner>

<ngx-govuk-panel title="Panel title">Panel content</ngx-govuk-panel>

<ngx-govuk-tag color="green">Completed</ngx-govuk-tag>

<form [formGroup]="form">
  <ngx-govuk-text-input formControlName="title" />
  <ngx-govuk-textarea formControlName="description" />
  <ngx-govuk-text-input formControlName="price" prefix="$" suffix="per item" />
  <ngx-govuk-password-input formControlName="password" />
  <ngx-govuk-checkbox
    formControlName="rememberMe"
    id="remember"
    label="Remember Me"
  />

  <ngx-govuk-radio-group formControlName="choice" [options]="options" />
</form>

<ngx-govuk-warning-text>This is a warning</ngx-govuk-warning-text>

<ngx-govuk-footer />