<div class="govuk-frontend-supported">
  <ngx-govuk-header logoLink="" />

  <ngx-govuk-service-navigation>
    <ngx-govuk-service-navigaiton-item label="Home" link="/" />
    <ngx-govuk-service-navigaiton-item label="Forms" link="/forms" />
  </ngx-govuk-service-navigation>

  <ngx-govuk-phase-banner
    >This service is in beta, please let us know if its
    broken</ngx-govuk-phase-banner
  >

  <ngx-govuk-breadcrumbs>
    <ngx-govuk-breadcrumb label="Home" link="/" />
    <ngx-govuk-breadcrumb label="Forms" link="/forms" />
  </ngx-govuk-breadcrumbs>

  <router-outlet></router-outlet>

  <ngx-govuk-footer />
</div>
